# use glob syntax.
syntax: glob

*.c
*.pc
*.desktop
*.stamp
*.la
*.o
*.lo
*.Po
*.Plo
*.xnplugin
*~
Makefile
Makefile.in
*.m4
autom4te.cache/output.*
autom4te.cache/requests
autom4te.cache/traces.*
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
intltool-extract.in
intltool-merge.in
intltool-update.in
libtool
ltmain.sh
missing
mkinstalldirs
.intltool-merge-cache
Makefile.in.in
POTFILES
*.gmo
*.mo
po/stamp-it
data/misc/xnoise.desktop.in
.libs
.deps
src/xnoise
stamp-h1
*.bz2
*.gz
.anjuta/
.anjuta*
TODO.tasks
xnoise.anjuta
.dirstamp
tests/tests
tests/playlist-examples/tmp_*.asx
tests/playlist-examples/tmp_*.m3u
tests/playlist-examples/tmp_*.pls
tests/playlist-examples/tmp_*.xspf

