Source: xnoise
Section: sound
Priority: optional
Maintainer: Jörn Magens <shuerhaaken@googlemail.com>
Build-Depends: debhelper (>= 8), intltool, pkg-config, libsqlite3-dev (>= 3.6), libtagc0-dev (>=1.5.0), libgtk2.0-dev (>=2.22), libgstreamer0.10-dev (>=0.10.28), libgstreamer-plugins-base0.10-dev (>=0.10.28), libunique-dev, libcairo2-dev, libxml2-dev (>= 2.7.0), libnotify-dev (>= 0.7.0), libsoup2.4-dev, libx11-dev
Standards-Version: 3.9.2
Homepage: http://www.xnoise-media-player.com/


Package: xnoise
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Recommends: xnoise-plugins
Description: media player for Gtk+
 Unlike Rhythmbox, Banshee or itunes, Xnoise uses a tracklist centric design. 
 The tracklist is a list of video or music tracks that are played one by one 
 without being removed. This gives you the possibility to enqueue any track 
 in any order, regardless if they are on the same album or not. The tracks 
 can be reordered at any time via drag and drop.
 .
 The media browser contains all available media in a hierarchical tree 
 structure of the available metadata. It is easy to find a single track, 
 artist or album by  going through this tree or by just entering a search term.
 From the media browser, music or videos can be dragged into the tracklist to 
 every position.
 Xnoise can play every kind of audio/video data that GStreamer can handle.
 There are plugins available.
 .
 This package contains the xnoise player itself, and utilities which are used 
 by plugins.


Package: xnoise-dev
Architecture: any
Depends: ${misc:Depends}, xnoise (= ${binary:Version})
Description: media player for Gtk+ (development files)
 Unlike Rhythmbox, Banshee or itunes, Xnoise uses a tracklist centric design. 
 The tracklist is a list of video or music tracks that are played one by one 
 without being removed. This gives you the possibility to enqueue any track 
 in any order, regardless if they are on the same album or not. The tracks 
 can be reordered at any time via drag and drop.
 .
 The media browser contains all available media in a hierarchical tree 
 structure of the available metadata. It is easy to find a single track, 
 artist or album by  going through this tree or by just entering a search term.
 From the media browser, music or videos can be dragged into the tracklist to 
 every position.
 Xnoise can play every kind of audio/video data that GStreamer can handle.
 There are plugins available.
 .
 This package contains the vapis and header files which are needed for 
 developing Xnoise plugins.


Package: xnoise-plugins
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, xnoise (= ${binary:Version})
Description: media player for Gtk+ (factory plugins collection)
 Unlike Rhythmbox, Banshee or itunes, Xnoise uses a tracklist centric design. 
 The tracklist is a list of video or music tracks that are played one by one 
 without being removed. This gives you the possibility to enqueue any track 
 in any order, regardless if they are on the same album or not. The tracks 
 can be reordered at any time via drag and drop.
 .
 The media browser contains all available media in a hierarchical tree 
 structure of the available metadata. It is easy to find a single track, 
 artist or album by  going through this tree or by just entering a search term.
 From the media browser, music or videos can be dragged into the tracklist to 
 every position.
 Xnoise can play every kind of audio/video data that GStreamer can handle.
 There are plugins available.
 .
 This package contains the plugins for xnoise media player.

